.general {
    margin: 3% 15%;
}

.columna2 {
    margin: 5% 0;
}

.nombre {
    margin: 2% 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.imagenPerfil {
    margin-right: 0%;
}

p {
    margin: 2% 2%;
}