/* Enlaces */

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.625em;
  color: #b0b9be;
  transition: color 0.2s;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item:hover {
  color: #b0b9be;
  text-decoration: none;
}

/* Botón */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #78c0f0;
}

/* Botón cruz para cerrar el sidebar */

.bm-cross {
  background: #78c0f0;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Sidebar en si */

.bm-menu {
  background: #334e72;
  padding: 40px 20px;
  font-size: 20px;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-morph-shape {
  fill: #373a47;
}

/* Separador */

hr {
  border-color: #78c0f0;
}

/* Lista */

ul li {
  list-style: none;
}

